*{
	padding: 0;
	margin: 0;
	/*
	Encerar la pagina
	*/
}
body{
	background: #ECEDEE;
	/*Establecer tipo de fuente body*/
	font-family: arial;
}
header{
	/*Adaptative Apps (%) 90%pantalla*/
	width: 90%;
	background: #FFF2C4;
	/*Centrar 0-> arriba auto->izq/der
	padding del margen hacia el centro
	*/
	margin: 0 auto;
	border-bottom: solid 4px #000;
}
/*Establecer tamaño en pantalla de h1 y nav*/
header h1{
	width: 25%;
	padding: 0.6em 0.5em;
	color: #433505;
	text-shadow: 2px 2px 3px #333;
}
header nav{
	width: 70%;
	text-align: right;
}
/*Se aplica estio a header h1 y  header nav*/
header h1, header nav{
	/*una sola linea de bloque */
	display: inline-block;
}
header nav a{
	text-decoration:none;
	padding: 0.3em 0.7em;
	color: #094354;
	font-weight: bold;

}
header nav a:hover{
	background: #094354;
	color:#fff;
	border-top: dashed 2px #FFF305;
}

section.galeria{
	width: 90%;
	margin: 0 auto;
	background: #fff;
}

section.galeria{
	padding: 0.3em 0.7em;
}

/*Para adaptar a la pantalla etiquetas con img*/
section.galeria img{
	width: 100%;
}


section#content img{
	width: 80%;
	border: 1px #ccc solid;
	padding: 3px;
}

/*Border-radius // Borde redondeado
Opacidad -> opacity*/
.imgmodulos{
	border-radius: 4em;
	width: 90%;
	box-shadow: 3px 3px 4px #333; 
}
main{
	width: 90%;
	margin: 0 auto;
	background: #fff;
}

/**
Primero ubicar en bloques tanto el section como aside
despues establecer el ancho de estos
*/
main aside, main section{
	display: inline-block;
	vertical-align: top;
}

main aside{
	width: 25%;
	margin: 0.5em 0.5em;
}

/**Llamar a clase ., Pueden haber varias clases con el mismo name*/
main section.contenedor{
	width: 70%;
}
/**Llamar a id #, unico*/
main section#content{
	background: #f2f2f2;
}





footer {
	width: 100% ;
	background: #000;
	color: #686666;
	text-align: center;
	padding: 2em 0;
}

footer a{
	color: #FCFC04;
	text-decoration: none;
}

footer a:hover{
	color: #fff;
	text-decoration: none;
}